<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
        <h1>Welcome to BGM</h1>
        <p>Review and discuss about your favorite book, games or music!</p>
        <a class="btn btn-md btn-primary" href="/games/new">Create new Game</a>
    </div>
  </header>

    <div class="row" style="display:flex; flex-wrap: wrap;">
      <% games.forEach(function(game){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%=game.image%>">
        </div>
        <div class="caption">
            <h4> <%= game.name %> </h4>
        </div>
        <p>
          <a href="/games/<%=game._id%>" class="btn btn-primary">More Info </a>
        </p>
      </div>

    <% }); %>

    </div>
</div>


<% include partials/footer %>
