<% include ./partials/header %>

<div class="container">
  <div class="form">
    <h1 class="h1Form"> Create a new games</h1>
    <form class="form-group" action="/games" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="name" name="name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="image" name="image">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="8" cols="80" placeholder="description" name="description"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>

    </form>
  </div>
</div>

<% include ./partials/footer %>
