.thumbnail img {
  width:100%;
}

.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
    padding:9px;
}

.form {
  width: 35%;
  margin: 30px auto;
}

.h1Form {
  text-align: center;
}

.endbtn {
  display: inline;
  margin-bottom: 50px;
}

#gameDelete {
  display: inline;
}
